body{
    font-weight: 500;
}

.bg_dark_blue{
    background-color: #2C3E50;
}

h1{
    /* color: white; */
    font-size: 20px;
}

.fa-solid, .fa-bars{
    filter: invert(100%);
}

.bg_green{
    background-color: #1ABC9C;
}

h1{
    font-weight: bold;
    font-size: 50px;
}
h2{
    font-weight: bold;
    font-size: 30px;
}

.nav-text{
    font-weight: bold;
    font-size: 15px;
}


/* .main: :nth-child(odd){

} */