.bg_dark_blue{
    background-color: #2C3E50;
}

h1{
    color: white;
    font-size: 20px;
}

.fa-solid, .fa-bars{
    filter: invert(100%);
}

.col-6{
    color: white;
}

.bg_green{
    background-color: #1ABC9C;
}

